APScheduler
boto3
beautifulsoup4
lxml
python-dateutil
schedule
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
azure-storage-blob
google-cloud-storage
pydantic-settings
python-dotenv
tenacity
SQLAlchemy>=2.0.30
typing_extensions>=4.10.0
